<!doctype html>

<html>
<head>
  <title>💙 Gather Safe</title>
  <script src="/static/qrcode.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@800&display=swap');
    </style> 
  <style type="text/css">
    body{
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
      font-size:18px;
      padding:0 10px;
      font-family:'Merriweather', serif;
    }
    h1,h2,h3{
      font-family:'Merriweather Sans', sans-serif;
      line-height:1.2;
      font-weight:800px;
    }
    footer {
      font-size: 14px;
    }
    </style>
</head>
<body>
<h1>404 Not Found</h1>
<p>Sorry, here we are... You can create a new code for your event just by <a href="/">clicking here</a>.</p>
</body>
</html>
