<!doctype html>

<html>
<head>
  <title>💙 Gather Safe</title>
  <script src="/static/qrcode.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@800&display=swap');
    </style> 
  <style type="text/css">
    body{
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
      font-size:18px;
      padding:0 10px;
      font-family:'Merriweather', serif;
    }
    h1,h2,h3{
      font-family:'Merriweather Sans', sans-serif;
      line-height:1.2;
      font-weight:800px;
    }
    footer {
      font-size: 14px;
    }
    </style>
</head>
<script>
  window.history.pushState({}, '', '/event/{{ .Uuid }}')
</script>
<body>

  <h1>☺️ Gather Safe</h1>
  <h2>Unique Code for your event/venue</h1>
  <div id="qrcode"></div>
  <p>You can also tap <a href="SMSTO:+14176682737;?&body={{ .Uuid }}">this link</a> on your phone to check in. The unique ID for your event/venue is: <b>{{ .Uuid }}</b></p>
  <h2>❔ What is this? </h2>
  <p>
    This is a system that allows you and your friends to check-in to an event together. Then if you test positive for COVID-19, let us know
    and we'll tell everyone else anonymously.
  </p>
  <h2>🎉 How do I use this as an attendee?</h2>
  <ol>
    <li>Scan the QR Code and send the SMS to the number. We'll send you a message confirming you checked in. Show this to the host to get in.</li>
    <li>If you test positive, simply reply POSITIVE. We'll tell other attendees without mentioning you in any way.</li>
    <li>If someone in an event you attended tested positive, we'll send you an SMS without any identifying info about the positive case.</li>
  </ol>
  <h2>📋 How do I use this page as an event host?</h2>
  <ol>
    <li>Print this page or take a screenshot of it.</li>
    <li>Have each attendee scan the QR Code and send the SMS when entering your event.</li>
  </ol>
  <footer>
    <p>Stay safe. Take care of each other. This too, shall pass. Kyrie Eleison.</p>
    <p>
      Created in 2021 by
      <a href="http://liaokev.in">Kevin Liao</a>. Licensed under the MIT License. Please be kind and don't abuse this system. I'm paying for the hosting and SMS sending costs out-of-pocket. Abusing it wouldn't be very cash money of you.</p>
  </footer>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "SMSTO:+14176682737:{{ .Uuid }}");
</script>

</body>
</html>
